.hardware p span {
    background-color: #f5f5f7; /* Light grey background */
    border: 3px solid #f5f5f7; /* Grey border */
    border-radius: 7px; /* Rounded corners */
    padding: 2px 6px; /* Top/bottom, left/right padding */
    margin: 7px; /* Space between each box */
    display: inline-block; /* Align boxes in a line */
}

.course span {
    background-color: #f5f5f7; /* Light grey background */
    border: 3px solid #f5f5f7; /* Grey border */
    border-radius: 7px; /* Rounded corners */
    padding: 2px 6px; /* Top/bottom, left/right padding */
    margin: 7px; /* Space between each box */
    display: inline-block; /* Align boxes in a line */
}

.havoc{
    background-color: black;
    box-shadow: 0 4px 8px rgba(0,0,0,0.7); /* Subtle shadow for depth, adjust as needed */
    color: white;
}

.havoc:hover{
   box-shadow: 0 10px 30px rgba(0,0,0,1) ;
}

.havoc ul{
    align-items:flex-end;
    text-align: left; /* Aligns the lines to the left */
} 

.RISC{
    box-shadow: 0 4px 8px rgba(0,0,0,0.3); /* Subtle shadow for depth, adjust as needed */
    background-color: white;
}

.tank{
    background-color: lightgray;
}

.italic{
    font-style: italic;
}

.edu-subHeader-container{
    margin-left: 0%;
}

.edu-subHeader-container h1{
    size: 4em;
    display: inline-block;
}

.edu-subHeader-container h3{
    color: gray;
    margin-left: 10px;
}

.type, .type2 {
    font-family: monospace; /* Gives it a typewriter-like font */
}

.scrollIndicator {
  position: fixed;
  width: 0%; /* Initial width is 0, it will be updated by JavaScript */
  height: 10px; /* Adjust the height as needed */
  background-color: #3498db; /* Choose your color */
  z-index: 100; /* Ensure it's above other content */
}

.scrollBack {
  position: fixed;
  width: 100%; /* Initial width is 0, it will be updated by JavaScript */
  height: 10px; /* Adjust the height as needed */
  background-color: #9ecce3; /* Choose your color */
  z-index: 90; /* Ensure it's above other content */
}

.contact {
    margin-top: 50px;
    margin-left: 12.5%;
    margin-right: 10%;
}
 