
html{
    background-color: #f5f5f7;
}

header{
    background-color: rgba(256, 256, 256, 0.8); /* Semi-transparent black */
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0;
    z-index: 1000; /* Ensure the header is above other content */
    backdrop-filter: blur(10px); /* Blur effect for the background */
    -webkit-backdrop-filter: blur(10px); /* For Safari */

}

.navbar ul{
    list-style-type: none;
    padding: 0px;
    margin-top: 0%;
    margin-left: 25%;
    overflow: hidden;
}
.navbar a{
    color: black;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: hsl(0, 0%, 72%);
}
.navbar li{
    float: left;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
}

.bio{
    margin-top: 50px;
    margin-left: 13%;
    margin-right: 13%;
}

.bio h1{
    margin-left: 0;
    font-size: 4em;
    margin-top: 0;
    margin-bottom: 0;
    display: inline-block;
    animation: cardPopUp 1s ease-out forwards;
}

.bio h2{
    color: gray;
    font-size: 2em;
    margin-left: 5%;
    animation: cardPopUp 1s ease-out forwards;
}


.sbs{
    margin-top: 40px;
    margin-bottom: 20px;
    animation: cardPopUp 1s ease-out forwards;
}

.sbs p{
    line-height: 1.6;
}

.sbs p::f{
    font-size: 1.5em;
}

.bio img{
    float: right; /* or 'right' if you prefer */
    width: 230px; /* Fixed width of the image */
    height: auto; /* Adjust the height automatically based on the width to maintain aspect ratio */
    margin-left: 50px; /* Space between the image and the text */
    border-radius: 10px;
}

.bio p{
    font-size: 1.3em;
    font-weight: 400;
    overflow: hidden; /* This ensures the text takes up the remaining space */
}

.bio::after {
    content: "";
    display: table;
    clear: both;
}

.skills{
    margin-top: 50px;
    margin-left: 0%;
    margin-right: 0%;
    transform: scale(0.95);
    animation: cardPopUp 1s ease-out forwards;
    position: relative;
}

.skills img{
    width: 120px;
    height: auto;
    z-index: -100;
    position: absolute;
    top: -10%;
    left: 10%;
}

.skills, .projects, .experiences {
    position: relative;
}

.hardware-container, .project-container, .exp-container{
    display: grid;
    grid-auto-flow: column;
    gap: 30px; /* Space between items */
    scroll-behavior: smooth; 
    overflow-x: scroll;
    padding-top: 30px; /* Space for the scrollbar */;
    padding-bottom: 30px; /* Space for the scrollbar */
    position: relative;
    
}

.btnR_hard, .btnR_proj, .btnR_exp{
    position: absolute;
    right: 3vw; /* Adjust as necessary to place it at the desired location */
    top: 50%; /* Centers the button vertically, adjust as needed */
    z-index: 10; /* Ensure the button is above other content */
    width: 70px; /* Adjust the width as needed */
    height: 70px; /* Make sure height is equal to width for a perfect circle */
    border-radius: 50%; /* This creates the round shape */
    border: none; /* Optional: removes the default border */
    cursor: pointer; /* Changes cursor to pointer on hover */
    background-color: rgba(0,0,0,0.05);
    color: #333; /* Adjust text color as needed */
    font-size: 30px; /* Makes the arrow larger */
    backdrop-filter: blur(10px); /* Blur effect for the background */
    -webkit-backdrop-filter: blur(10px); /* For Safari */
}

.btnR_hard:hover,.btnR_proj:hover, .btnR_exp:hover{
    transform: scale(1.1); /* Slightly increase the button size */
    background-color: rgba(0,0,0,0.1);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Optional: adds a shadow for better visibility */
}

.btnL_hard, .btnL_proj, .btnL_exp{
    position: absolute;
    left: 3vw; /* Adjust as necessary to place it at the desired location */
    top: 50%; /* Centers the button vertically, adjust as needed */
    z-index: 10; /* Ensure the button is above other content */
    width: 70px; /* Adjust the width as needed */
    height: 70px; /* Make sure height is equal to width for a perfect circle */
    border-radius: 50%; /* This creates the round shape */
    border: none; /* Optional: removes the default border */
    cursor: pointer; /* Changes cursor to pointer on hover */
    background-color: rgba(0,0,0,0.05);
    color: #333; /* Adjust text color as needed */
    font-size: 30px; /* Makes the arrow larger */
    backdrop-filter: blur(10px); /* Blur effect for the background */
    -webkit-backdrop-filter: blur(10px); /* For Safari */
}

.btnL_hard:hover, .btnL_proj:hover, .btnL_exp:hover{
    transform: scale(1.1); /* Slightly increase the button size */
    background-color: rgba(0,0,0,0.1);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Optional: adds a shadow for better visibility */
}



.hardware-container::-webkit-scrollbar, .project-container::-webkit-scrollbar, .education-container::-webkit-scrollbar, .exp-container::-webkit-scrollbar {
    display: none;
}

.holder{
    width: 10vw; /* Fixed width for square shape */
    height: 150px; /* Height equal to width to maintain square shape */;
    color: transparent;
}

.hardware{
    width: 500px; /* Fixed width for square shape */
    height: 150px; /* Height equal to width to maintain square shape */
    background-color: white; /* Light grey background, adjust as needed */
    border-radius: 15px; /* Rounded edges */
    justify-content: center; /* Horizontally center content */
    align-items:center; /* Vertically center content */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for hover effect */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Subtle shadow for depth, adjust as needed */
    padding: 10px; /* Padding inside the card, adjust as needed */
    text-align: center; /* Ensure text is centered if you have text inside */
    transform: scale(0.95);
   /* animation: cardPopUp 1s ease-out forwards;*/
}

.hardware:hover{
    transform: translateY(-5px);
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

.projects{
    margin-top: 50px;
    margin-left: 0%;
    margin-right: 0%;
    transform: scale(0.95);
    animation: cardPopUp 1s ease-out forwards;
}


.project{
    width: 400px; /* Fixed width for square shape */
    height: 450px; /* Height equal to width to maintain square shape */
    background-color: white; /* Light grey background, adjust as needed */
    border-radius: 15px; /* Rounded edges */
    justify-content: center; /* Horizontally center content */
    align-items:center; /* Vertically center content */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for hover effect */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Subtle shadow for depth, adjust as needed */
    padding: 20px; /* Padding inside the card, adjust as needed */
    text-align: center; /* Ensure text is centered if you have text inside */
    transform: scale(0.95);
  /*  animation: cardPopUp 1s ease-out forwards;*/
}

.project:hover{
    transform: translateY(-5px);
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

.project img{
    width: 100%;
    height: auto;
    order: 1;
    border-radius: 10px;
}

.educations{
    margin-top: 50px;
    margin-left: 12%;
    margin-right: 10%;
}

.education-container{
    display: grid;
    grid-template-columns: 1f; /* Creates as many 500px wide columns as can fit in the container */
    gap: 30px; /* Space between items */
    justify-items: start; /* Center items within the container */
}

.education{
    width: 90%; /* Fixed width for square shape */
    height: 200px; /* Height equal to width to maintain square shape */
    background-color: white; /* Light grey background, adjust as needed */
    border-radius: 15px; /* Rounded edges */
    justify-content: center; /* Horizontally center content */
    align-items:center; /* Vertically center content */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for hover effect */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Subtle shadow for depth, adjust as needed */
    padding: 20px; /* Padding inside the card, adjust as needed */
    text-align: center; /* Ensure text is centered if you have text inside */
}

.education:hover{
    transform: translateY(-5px);
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

.experiences{
    margin-top: 50px;
    margin-left: 0%;
    margin-right: 0%;
}


.exp{
    width: 400px; /* Fixed width for square shape */
    height: 200px; /* Height equal to width to maintain square shape */
    background-color: white; /* Light grey background, adjust as needed */
    border-radius: 15px; /* Rounded edges */
    justify-content: center; /* Horizontally center content */
    align-items:center; /* Vertically center content */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for hover effect */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Subtle shadow for depth, adjust as needed */
    padding: 20px; /* Padding inside the card, adjust as needed */
    text-align: center; /* Ensure text is centered if you have text inside */
}

.exp:hover{
    transform: translateY(-5px);
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

.about{
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 200px;
}

.subHeader-container{
    margin-left: 12.5%;
}


.subHeader-container h1{
    size: 4em;
}

.subHeader-container h3{
    color: gray;
}

.subHeader-container h1, h3{
    display: inline-block; /* Or 'inline' if you don't need to manipulate width/height */
    margin-right: 10px; /* Adjust spacing between elements */
}

.project ul{
    align-items:flex-end;
    text-align: left; /* Aligns the lines to the left */
}

@keyframes cardPopUp {
    from {
      opacity: 0;
      transform: scale(0.95);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
}

